html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Cabin', sans-serif;
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
   
}

/*header*/
header{
    position:fixed;
    width:100%;
}
    .red-level{
        background-color: #972E3C;
        color:white;
        padding:15px;
    }

    .red-level p {
        display:inline-block;
        
    }



    .red-level a{
        color:white;
        font-size:1.0em;
        cursor: pointer;  
    }

    .red-level a:hover{
        color:#F2BF3F;
    }
    .red-level .shop-now-link {
        color:#F2BF3F;
        font-weight: bold;
        text-decoration: none;
    }
    glyph{
        font-size:1.4em;
        
    }
    .mini-menu{
        margin-right:2%;
        float:right;
        
    }
    .mini-menu a{
        font-size:.8em;
       text-decoration: none;
       font-weight:bold;
      
    }
    .free-shipping-one{
        font-weight:bolder;
        color:white;
    }

    .account img{
        width:15%;
    }   

    .shopping-cart img{
        width:3.5%;
        margin:-5;
    }

    .level-one{
           width:100%;
           margin:0 auto;
           

    }
    .level-one-location{

    }
    .level-one-content{
       /*main-page*/
    
     }
     
     .menu-bar-two{
        background-color: #F2F2F2;
        padding:40px;
        
     }
     .menu-bar-two ul li{
         float:left;
         
         
     }
     .menu-bar-two li{
        margin-right: 1%;
     }
     .menu-bar-two p{
         float: left;
         display:inline-block;
         font-size: 3em;
         color:#152553;
         font-weight:bold;
         margin-top:-1%;
         margin-right:1%
     }
     
     .cool{
        font-family: 'Yellowtail', cursive;
     }
     .beans{
        font-family: 'Merriweather', serif;
     }

   .menu-bar-two a{
        color:#152553;
        font-size: .8em;
        text-decoration: none;
        font-weight:bolder;
        
   }
   .menu-bar-two a:hover{
       color:#3170C5;
   }
    .subscriptions{
        border:1px solid #152553;
        border-radius: 6px;
       padding:10px;
       margin-left:2%;
       margin-top:-1%;
       font-size:1.1em;
       text-align:center;
    }
    .banner-one{
        background-image: url(iced-coffee.jpg);
        margin:0 auto;
        background-size:cover;
        background-repeat:no-repeat;
        height:800px;
     }

    .banner-one-main{
        padding:14%;
        text-align: center;
        color:white;
       margin:0 auto;    
    }
    .banner-one-main h1{
        font-size: 5em;
        text-shadow: 4px 4px black;
        font-family: 'Merriweather', serif;
   
    }
    .banner-one-main p {
        color:white;
        font-size:1.5em;
        width:100%;
        text-shadow: 2px 2px black;
    }
   
    .banner-one-main a{
        color:white;
    }
    .banner-one-main a:hover{
       color:#F2BF3F;
    }
    .banner-one-button {
        margin:0 auto;
        text-align: center;
        margin-top:2%;
        width:240px;
        height:60px; 
       border:1.5px solid #F2BF3F;
        
    }
    
    .banner-one-button button{
        margin:2.3%;
        width:190px;
        height:50px; 
        background-color:#F2BF3F;
        font-weight:bold;
        font-size: .8em;
        cursor: pointer;
        border:1px solid #F2BF3F;
    }
    
    .mini-banners div{
        display: inline-block
    }

 
     
 .banner-two{
    width:50%;
    background-image: url(coffee-pour.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
   height:400px
}
 .banner-two-text{
    padding:14%;
    text-align: center;
    color:white;
   margin:0 auto; 
 }
.banner-two h1{
    font-size: 2.5em;
    text-shadow: 3px 3px black;
    font-family: 'Merriweather', serif;
}

.banner-two p {
    color:white;
    font-size:1.0em;
    text-shadow: 2px 2px black;
}

.banner-two a{
    color:white;
}
.banner-two a:hover{
   color:#F2BF3F;
}

 .banner-three{
    width:50%;
    background-image: url(coffee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
   float:right;
   height:400px
}
 .banner-three-text{
    padding:14%;
    text-align: center;
    color:white;
   margin:0 auto; 
 }
.banner-three h1{
    font-size: 2.5em;
    text-shadow: 3px 3px black;
    font-family: 'Merriweather', serif;
}

.banner-three p {
    color:white;
    font-size:1.0em;
    text-shadow: 2px 2px black;
}

.banner-three a{
    color:white;
}
.banner-three a:hover{
   color:#F2BF3F;
}
.level-four{
    background-color:#152553 ;
    background-size: cover;
    color:white;
    padding:5%;
    margin:0 auto;
}
.content{
    border:2px solid white;
    padding:2%;
    margin:0 auto;
    text-align: center;
    width:80%;
}
.level-four-title{
    font-weight:bold;
    margin-bottom:2%;

}
.level-four-title-two{
    font-weight: bolder;
    margin-bottom:2%;
}

.level-four-description{
    text-align:center;
    width:80%;
    margin:0 auto;
}
footer{
    width:100%;
    background-color:#E9E0CA;
    height: 50vh;
}
footer a{
    color:#152553;
    text-decoration: none;
    float: left;
    width:40%;
    margin:0;
    margin-bottom:1%;
    font-weight:bolder;
}
.footer-links{
    padding-top:2%;
}
 
  
/*Location Page*/

.banner-one-lp{
   background-image: url(coffee-banner.png);
    margin:0 auto;
    background-size:cover;
    background-repeat:no-repeat;
    height:700px;
    width:100%;
 }

 .banner-one-text{
     padding:14%;
     text-align: center;
     color:white;
    margin:0 auto;    
 }
 .banner-one-text h1{
     font-size: 5em;
     text-shadow: 4px 4px black;
     font-family: 'Merriweather', serif;

 }
 .banner-one-text p {
     color:white;
     font-size:1.5em;
     width:100%;
 }

 .banner-one-text a{
     color:white;
 }
 .banner-one-text a:hover{
    color:#F2BF3F;
 }
.get-started{
    margin:0 auto;
    width:25%;
    
   
    margin-top:5%;
   text-align:center;
    
}

.get-started{
    margin:0 auto;
    text-align: center;
    margin-top:2%;
    width:250px;
    height:60px; 
   border:1.5px solid #F2BF3F;
    
}
.get-started:hover{
    background-color:#F2BF3F 
}
.get-started button{
    margin:2.3%;
    width:190px;
    height:50px; 
    background-color:#F2BF3F;
    font-weight:bold;
    font-size: .8em;
    cursor: pointer;
    border:1px solid #F2BF3F;
   
}

.get-started button:hover{
    border:1px solid white;
}

.our-cafes{
    background-color: #F2F2F2;
}
.location-content{
    width:75%;
    margin:0 auto;
}
.our-cafes-text{
    text-align:center;
   padding-top:6%
}
.our-cafes-text h2{
    font-size:2em;
    padding-bottom:2%;
}
.our-cafes-text p{
    margin:0 auto;
    font-size:1em;
    width:91%;
   padding-bottom:2%

}

.our-cafes-text-can p{
width:40%;
 margin-top:-4%
}

.our-cafes-text  a{
   text-decoration: none;
   color:#152553;
}

.our-cafes-text  a:hover{
        color:#3170C5;
}

.locations{
     
     background-color: #F2F2F2;
}
.locations button{
    width:300px;
    height:65px;
    color:white;
    background-color:#152553;
    font-weight:bold;
    font-size: .9em;
    margin:-.15%;
    cursor: pointer;
}
.locations button:hover{
    background-color: #F2F2F2;
    color:#152553;
}
.location-cards{
 
  margin-top:2%;
  
}

.boston-location-cards{
    display:inline-block;
   
}

.boston-card{
    width:390px;
    height:420px;
    border:3px solid #F2F2F2;;

}

.boston-card h2{
    padding:4%;
    font-weight: bold;
    font-size:1.4em;
}

.boston-card p{
    padding:4%;
    font-size:1em;
}
.boston-card button{
    width:190px;
    height:70px; 
    background-color: white;
    color:#152553;
    font-weight:bold;
    font-size: .8em;
    margin:-.15%;
    cursor: pointer;
}
.boston-card button:hover{
    color:white;
    background-color:#152553;
}

.boston-card img{
    width:100%;
    height:150px;
}


.cali-location-cards{
    display:inline-block;
   
}

.cali-card{
    width:390px;
    height:420px;
    border:3px solid #F2F2F2;;

}

.cali-card h2{
    padding:4%;
    font-weight: bold;
    font-size:1.4em;
}

.cali-card p{
    padding:4%;
    font-size:1em;
}
.cali-card button{
    width:190px;
    height:70px; 
    background-color: white;
    color:#152553;
    font-weight:bold;
    font-size: .8em;
    margin:-.15%;
    cursor: pointer;
}
.cali-card button:hover{
    color:white;
    background-color:#152553;
}

.cali-card img{
    width:100%;
    height:150px;
}

.chicago-location-cards{
    display:inline-block;
   
}

.chicago-card{
    width:390px;
    height:420px;
    border:3px solid #F2F2F2;;

}

.chicago-card h2{
    padding:4%;
    font-weight: bold;
    font-size:1.4em;
}

.chicago-card p{
    padding:4%;
    font-size:1em;
}
.chicago-card button{
    width:190px;
    height:70px; 
    background-color: white;
    color:#152553;
    font-weight:bold;
    font-size: .8em;
    margin:-.15%;
    cursor: pointer;
}
.chicago-card button:hover{
    color:white;
    background-color:#152553;
}

.chicago-card img{
    width:100%;
    height:150px;
}
.ny-location-cards{
    display:inline-block;
   
}

.ny-card{
    width:390px;
    height:420px;
    border:3px solid #F2F2F2;;

}

.ny-card h2{
    padding:4%;
    font-weight: bold;
    font-size:1.4em;
}

.ny-card p{
    padding:4%;
    font-size:1em;
}
.ny-card button{
    width:190px;
    height:70px; 
    background-color: white;
    color:#152553;
    font-weight:bold;
    font-size: .8em;
    margin:-.15%;
    cursor: pointer;
}
.ny-card button:hover{
    color:white;
    background-color:#152553;
}

.ny-card img{
    width:100%;
    height:150px;
}



.philly-location-cards{
    display:inline-block;
   
}
.philly-card{
    width:390px;
    height:420px;
    border:3px solid #F2F2F2;;

}
.philly-card h2{
    padding:4%;
    font-weight: bold;
    font-size:1.4em;
} 
.philly-card p{
    padding:4%;
    font-size:1em;
} 
.philly-card button{
    width:190px;
    height:70px; 
    background-color: white;
    color:#152553;
    font-weight:bold;
    font-size: .8em;
    margin:-.15%;
    cursor: pointer;
} 

.philly-card button:hover{
    color:white;
    background-color:#152553;
}

.philly-card img{
    width:100%;
    height:150px;

}

.sea-location-cards{
    display:inline-block;
   
}

.sea-card{
    width:390px;
    height:420px;
    border:3px solid #F2F2F2;;

}

.sea-card h2{
    padding:4%;
    font-weight: bold;
    font-size:1.4em;
}

.sea-card p{
    padding:4%;
    font-size:1em;
}
.sea-card button{
    width:190px;
    height:70px; 
    background-color: white;
    color:#152553;
    font-weight:bold;
    font-size: .8em;
    margin:-.15%;
    cursor: pointer;
}
.sea-card button:hover{
    color:white;
    background-color:#152553;
}

.sea-card img{
    width:100%;
    height:150px;
}

.dc-location-cards{
    display:inline-block;
   
}

.dc-card{
    width:390px;
    height:420px;
    border:3px solid #F2F2F2;;

}

.dc-card h2{
    padding:4%;
    font-weight: bold;
    font-size:1.4em;
}

.dc-card p{
    padding:4%;
    font-size:1em;
}
.dc-card button{
    width:190px;
    height:70px; 
    background-color: white;
    color:#152553;
    font-weight:bold;
    font-size: .8em;
    margin:-.15%;
    cursor: pointer;
}
.dc-card button:hover{
    color:white;
    background-color:#152553;
}

.dc-card img{
    width:100%;
    height:150px;
}
